[submodule "bao/bao"]
	path = bao/bao
	url = https://github.com/ESRGv3/bao-shedlight.git
	branch = shedding-light
[submodule "xen/imagebuilder"]
	path = xen/imagebuilder
	url = https://github.com/josecm/imagebuilder.git
[submodule "jailhouse/jailhouse"]
	path = jailhouse/jailhouse
	url = https://github.com/ESRGv3/jailhouse-shedlight
	branch = shedding-light
[submodule "xen/xen"]
	path = xen/xen
	url = https://github.com/ESRGv3/xen-shedlight.git
	branch = shedding-light
[submodule "sel4/camkes-vmm"]
	path = sel4/camkes-vmm
	url = https://github.com/ESRGv3/sel4-camkes-vmm.git
	branch = shedding-light
